/* Globals.css */

body {
    background-color: #46004d;
    color: #ffffff; /* Set text color to white for better contrast */
    font-family: 'FontAwesome'; /* Assuming FontAwesome is available globally */
   
    background-repeat: repeat;
    background-size: 50px 50px, 0px 0px;
    background-position: 0 0, 0 0;
    margin: 0;
  }
  
  .container {
    position: relative;
    padding: 20px; /* Add some padding for better spacing */
    min-height: 100vh; /* Set a minimum height to cover the full viewport height */
    box-sizing: border-box; /* Include padding in the height calculation */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Add some margin to the heading for spacing */
  .heading {
    color: #fff;
    text-align: center;
    font-family: 'FontAwesome', sans-serif; /* Fallback font */
    margin-bottom: 20px;
  }
  
  /* Improve aesthetics of the MemeGallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Adjust gap for better spacing between meme cards */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
  }
  
  .memeCard {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .memeCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: 1fr; /* Single column on small screens */
    }
  
    .thumbnail {
      height: 150px;
    }
  }
  